
<div id="footer" class="mA">
    <div class="footerTop">
        <a class="" id="linkToCN">미미박스 중국 바로가기</a>
        <a class="" id="linkToUS">미미박스 미국 바로가기</a>
        <a class="" href="http://instagram.com/memebox_korea" target="_blank">인스타그램 바로가기</a>
        <a class="" href="http://www.facebook.com/memebox" target="_blank">페이스북 바로가기</a>
        <a class="" href="http://www.memebox.blog.me/" target="_blank">블로그 바로가기</a>
        <span class="">평일 9:00-18:00(주말/공휴일 제외)</span>
        <span class=""><a href="">고객센터 1:1문의 <strong>바로가기></strong></a></span>
        <span class="">미미박스와 함께 하세요.</span>
        <span class=""><a href="mailto:partner@memebox.com"> partner@memebox.com</a></span>
        <span class="">최고의 인재를 모집합니다.</span>
        <span class=""><a href="mailto:jobs@memebox.com"> jobs@memebox.com</a></span>
    </div>
    
    <div class="footerBottom">
        <div class="bottomLeft">
            <span class="bottomLogo">MEMEBOX</span>
            <span>
                <a href="/policy/privacy">개인정보 취급방침</a><span class="bar">|</span><a href="">이용약관</a>
            </span>
        </div>
        <div class="bottomCenter">
            <ul>
                <li>(주) 미미박스 | 대표자 · 개인정보관리책임자 : 하형석 | 사업자등록번호 211-88-47525</li>
                <li>통신판매 신고번호 : 제 2013-서울강남-03150호 | <strong>본사</strong> : 서울시 강남구 테헤란로 325(역삼동702-28)<br/>어반벤치빌딩 10층/ <strong>물류센터</strong> : 경기도 김포시 고촌읍 아라육로57번길 108 2층</li>
                <li>Copyright ﻿ⓒ 2014 MEMEBOX. inc. All rights reserved.</li>
            </ul>
            <a class="license" href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2013322016230203150&area1=&area2=&currpage=1&searchKey=01&searchVal=%B9%CC%B9%CC%B9%DA%BD%BA&stdate=&enddate=" target="_blank">사업자정보확인</a>
            <a class="memeMap" href="/page/8386" target="_parent">미미박스 오시는 길</a>
        </div>
        <div class="bottomRight">
                <p><span class="lgTitle">LG U+ 구매 안전 서비스</span><br/>고객님의 안전거래를 위해 현금 등으로 결제 시,저희<br/>사이트에서 가입한 구매안전 서비스를 이용하실 수<br/>있습니다. &nbsp;&nbsp;&nbsp;<a onclick="goValidEscrow('memebox_mobile');">서비스가입 확인></a></p>
        </div>
    </div>
</div>
    
