<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 -->
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../../resources/css/reset.css" rel="stylesheet" media="screen">
    <link href="../../../resources/css/common.css" rel="stylesheet" media="screen">
<title>Insert title here</title>
</head>
<body>
<!-- my menu -->
<header>
	<div>
		<ul>
			<li><span class="glyphicon glyphicon-gift"></span>미미의 혜택</li>
			<li><span class="glyphicon glyphicon-star"></span>즐겨찾기</li>
			<li>로그인</li>
			<li><span class="glyphicon glyphicon-user"></span>무료회원가입</li>
			<li><span class="glyphicon glyphicon-shopping-cart"></span>장바구니</li>
			<li><span class="glyphicon glyphicon-heart"></span>찜한상품</li>
			<li><span class="glyphicon glyphicon-headphones"></span>고객센터</li>
		</ul>
	</div>
	
	<!-- 로고 및 검색창 -->
	<div>
		<div id="logo">미미박스</div>
		<div>
			<form>
				<label for=""></label>
				<input type="text" placeholder="원하시는 상품을 검색하세요" />
				<button>
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>
		</div>
		<a>이벤트배너</a>
	</div>
<!-- 네비메뉴 -->

</header>



</body>
</html>